#footer{
    margin-left: -0.5%;
    margin-top: 45%;
    width: 101%;
    height: 600px;
    background-color: rgb(250, 249, 241)
}


#linker{
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0;
}

#footer-item_first{
    margin-left: 5%;
}

.footerElms{
    margin-top: 20%;
    margin-left: 1.5%;
    display: inline-block;
    width: 10%;
    color: black;
    font-family: Century Gothic;
}

#footer-item_last{
    margin-left: 40%;
}

hr{
    
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
}

#copyRight{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#copyRight-text{
    margin-top: 2%;
    text-align: center;
    color: black;
    font-family: Century gothic;

}
