
#vissible{
    margin-left: -2%;
    width: 1970px;
    height: 400px;
    transform: rotate(-6deg);
    position: relative;
  
    
}

#merryGoAround{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
   
}

#displayIndex{
    transform: rotate(2deg);
    width: 50%;
    height: 25%;
    margin: 0px auto;
    margin-top: 2%;
}

.bilde{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    
}

.text{
    width: 50%;
    margin : 0 auto;
    margin-left: 38%;
    margin-top : 15%;
    font-family: Century gothic;
    color: black;
    font-size: 24px;
}

#forward{
    background-image: url('../../media/left.png');
    opacity: 0.5;
    width: 70px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 45%;
    z-index: 100;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 1s;
    
}

#forward:hover{
    opacity: 1;
}

#backwards{
    background-image: url('../../media/right.png');
    opacity: 0.5;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 95%;
    top: 45%;
    z-index: 100;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 1s;
    
}

#backwards:hover{
    opacity: 1;
}
/*
.dot{
    background-color: white;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 40px;
    border: 2px solid grey;
    padding: 10px;
    z-index: 100;
}


/*Animation*/

@keyframes innLeft {
    from{left: -1930px}
    to{left: 0px}
}

@keyframes utRight {
    from{left: 0px}
    to{left: 1930px}
}

@keyframes innRight{
    from{left: 1930px }
    to{left: 0px}
}

@keyframes utLeft{
    from{left: 0px}
    to{left: -1930px}
}

#Welcome{
    position: absolute;
    width: 1990px;
    height: 300px;
    background-color: #0D0900;
    margin-left: -2%;
    margin-top: 15%;
    z-index: 2;
  
}

#welcomeImg{
    position: absolute;
    left: 38%;
    top: 130%;
    z-index: 3;
}

.fillers{ 
    width: 100%;
    height: 600px;
}

#first{
    margin-top: 20%;
    background-image: url("../../media/asianfood.jpg");
}


#love{
    position: absolute;
    z-index: 2;
    left: 35%;
    top: 199%;
    font-size: 15rem;
    margin: 0px;
    font-family: monospace;
    color: white;
    text-shadow: 4px 4px slategrey;
}

#featureSlide{
    width: 105%;
    margin-left: -2%;
    height: 450px;
    padding: 15px;
    background-color: white;
    z-index: 1;
}


#featureContent{
    width: 98%;
    height: 95%;
    display: flex;
    border: 3px solid darkolivegreen;
}

.featured{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: Century Gothic;
    font-weight: bold;
    color: black;
    

}

.featured:nth-child(odd){
    background-color: grey;
}

#second{
    background-color: rgb(212, 255, 224);
}

#second img{
    margin-left: 15%;
    margin-top: 5%;
    width: 20%;
    height: 50%;
}

#second p{
    float: right;
    width: 600px;
    height: auto;
    font-family: Century Gothic;
    font-size: 1.5em;
    margin: 10%;
    margin-right: 15%;
}

#third{
    background-color: rgb(255, 252, 212);
}

#third img{
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    width: 20%;
    height: 50%;
}

#third p{
    float: left;
    width: 600px;
    height: auto;
    font-family: Century Gothic;
    font-size: 1.5em;
    margin: 10%;
  
}

#fourth{
    background-color: rgb(255, 226, 212);
}

#fourth #firstImg{
    margin-left: 25%;
}

#fourth img{
    width: 20%;
    height: 50%;
    margin-top: 2%;
    margin-left: 15%;

}

#fourth p{
    margin: 0px auto;
    margin-top: 2%;
    text-align: center;
    width: 600px;
    height: auto;
    font-family: Century Gothic;
    font-size: 1.5em;
}


#fifth{
    background-color: rgb(212, 255, 224);

}

#fifth img{
    margin-left: 15%;
    margin-top: 5%;
    width: 20%;
    height: 50%;
}

#fifth p{
    float: right;
    width: 600px;
    height: auto;
    font-family: Century Gothic;
    font-size: 1.5em;
    margin: 10%;
    margin-right: 15%;
}

#sixth{
    background-color: bisque;
}

#sixth img{
    margin-left: 15%;
    margin-top: 2%;
}

#sixth #secondImg{
    margin-top: 15%;
}

#sixth h1{
    float: right;
    margin-right: 15%;
    font-family: Century Gothic;
    margin-top: -10%;

}

#sixth #map{
    float: right;
    margin-top: -5%;
    margin-right: 5%;
    width: 35%;
    height: 50%;
    box-shadow: 2px 2px 2px 2px gray;
}