body{

    background: url('../media/background2.png') no-repeat center center fixed;
}

.error{
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    font-family: century Gothic;
    color: black;
    text-align: center;
}

.error_link{
    width: 50%;
    margin: 0 auto;
    font-family: century Gothic;
    text-align: center;
}

.error_link a{
    text-decoration: none;
    color: red;
}

.suceed{
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    font-family: century Gothic;
    color: black;
    text-align: center;
}

.suceed_p{
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    font-family: century Gothic;
    color: black;
    text-align: center;
}

.suceed_link{
    width: 50%;
    margin: 0 auto;
    font-family: century Gothic;
    
    text-align: center;
}

.suceed_link a{
    text-decoration: none;
    color: darkolivegreen;
}

#contact_section{
    width: 100%;
    height: 100%;
  
}

#contact_form{
margin-left: 40%;
margin-top: 15%;
}




.input_reg{
    font-size: 25px;
    width: 300px;
    height: 55px;
    border-radius: 10% 2%;
}

.input_reg:focus{
    outline:none;
}

label{

    font-family: century Gothic;
    color: black;
}



#button{
    color:black;
    width: 350px;
    height: 60px;
    background-color: darkolivegreen;
    outline: none;
}
