body{

    background: url('../media/background2.png') no-repeat center center fixed;
}

#ContentFrame{
    width: 100%;
    height: 1000px;
    display: flex;

}

#content{
    width: 75%;
    height: 1000px;
    overflow-y: scroll;  
}



.item-container{
    width: 45%;
    height: 35%;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    margin-top: 5%;
   
    
}


 .item-container-box{
    width: 100%;
    height: 30%;
    visibility: visible;
    display: inline-block;

 }
.item-container-box:hover{
    z-index: 50;
    background-image: url("/../media/add.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    cursor: pointer;
    

}

.itemText{
    font-size: 2.1em;
    color: white;
    text-shadow: 2px 2px gray;
    margin-top: -7%;
}

.itemPrice{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
}

.itemPrice::after{
    content: ",-";

}

.info{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    z-index: 20;
    margin-left: 55%;
    background-image: url("/../media/info.png");
    background-size: cover;

}

.info:hover{
    cursor: pointer;
}

.itemDescription{
    width: 20%;
    height: 30px;
    font-size: 20px;
    margin-left : 10%;
    margin-top: -40%;
    font-family: Century Gothic;
    display: inline-block;
    visibility: hidden;    
}

#shoppingCart{
    width: 25%;
    height: 550px;
    margin-right: 1%;
    margin-top: 5%;
   
}

#shoppingCart img{
margin-left: 30%;
padding: 10%;
}

#itemsCart{
    width: 80%;
    height: 70%;
    margin: 0px auto;
    border: 2px solid black;
    background-color: white;
}

#itemsCart h4{
    text-align: center;
    font-family: Century Gothic;
    font-size: 30px;
    margin-bottom: 0px;

}

#itemsCart h5{
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    margin-bottom: 10px;
    
}

#itemsInCart{
    width: 90%;
    height: 50%;
    margin: 0px auto;
    border: inset;
    overflow-y: scroll;
}

.handleKurvEl{
    text-align: center;
    font-family: Century Gothic;
    font-weight: bold;

}
.handleKurvEl .button{
margin-left: 3%;
}

#order{
    margin-left: 40%;
    height: 40px;
    background-color: darkolivegreen;
    color: white;
    visibility: hidden;
    
}
#modalModal{
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal {
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    width: 25%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

.modal-content form{
    padding-left: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
}

.modal-content form input{
    text-align: center;
    
}

.modal-content form label{
    text-align: center;
    
}

#proceed{
    display: none;
    background-color: lightgray;
    border-radius: 10px;
}
/* The Close Button */
.close {
    padding-right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}